/* spinner */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

.loading-spinner {
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-20px;
    margin-top:-20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #45aaf2;
    border-top-color: white;
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
}

a{
  color:inherit;
  text-decoration:none;
}

html {
  width: 100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
#header, #subheader{
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
body{
  width:100%;
  font-size:14px;
  font-family:  'Nanum Square';
  color:rgb(38,38,38);
  margin:0px;
  padding:0px;
  overflow:hidden;
}
input,textarea{
  font-family: 'san-serif';
  -webkit-appearance: none;
  border-radius: 0;
  outline:none;
}

.row:before, .row:after{
  content: " ";
  display: table;
}
.row:after{
  clear: both;
}


#popup-message{
  position:fixed;
  top:50%;
  margin-top:-50px;
  z-index:9999;
  text-align:center;
  width:80%;
  left:10%;
  padding:15px 0px;
  border-radius:10px;
  opacity:0.8;
  background-color:rgb(1,1,1);
}
#popup-message span{
  line-height:1.4em;
  color:white;
}

#popup-message .button-wrapper{
  position:relative;
  display:block;
  margin-top:20px;
}
#popup-message .button-wrapper .button{
  display:inline-block;
  width:25%;
  color:rgb(230,230,230);
  border:2px solid rgb(100,100,100);
  padding:10px;
  border-radius:5px;
  font-weight:400;
  font-size:13px;
}
#popup-message .button-wrapper .button:last-child{
  margin-left:5%;
}

/* Header */
#header{
  display:block;
  position:fixed;
  top:0;
  height:48px;
  line-height:1.5em;
  width:100%;
  background-color:rgb(253,253,253);
  border-bottom:1px solid rgb(230,230,230);
  /* padding:0px; */
  z-index:1000;
}
#header .header-left{
  position:relative;
  display:inline-block;
  padding-top:13px;
  padding-bottom:12px;
  text-align:center;
  font-weight:600;
  width:15%;
  float:left;
}
#header .header-right{
  position:relative;
  display:inline-block;
  width:15%;
  padding-top:15px;
  padding-bottom:11px;
  text-align:center;
  font-weight:600;
  font-size:14px;
  letter-spacing:0.5px;
  float:right;
}

#header .header-left i{
  font-size:22px;
}
#header .header-right i{
  font-size:20px;
}

#header .header-right-index{
  padding-left:0px;
  padding-right:10px;
}
#header .header-right-index-item{
  position:relative;
  float:right;
  margin-top:-1px;
  margin-left:14px;  
}
#header .logo img{
  height:17px;
  margin-top:16px;
}

#header .header-center{
  position:relative;
  display:inline-block;
  width:70%;
  padding-top:14px;
  text-align:center;
  font-weight:600;
  font-size:15px;
  letter-spacing:1.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#header.with-subheader{
  border-bottom:0px;
}
#subheader{
  position:fixed;
  top:44px;
  height:40px;
  width:100%;
  line-height:1em;
  background-color:rgb(253,253,253);
  text-align:center;
  font-size:13px;
  border-bottom:1px solid rgb(230,230,230);
  padding-left: 5px;
  padding-right: 5px;
  z-index:999;
  display:none;
}
#subheader .subheader-tab{
  padding-top:14px;
  padding-bottom:12px;
  color:rgb(140,140,140);
}
#subheader .subheader-tab.selected{
  color:#45aaf2;
  font-weight:600;
  border-bottom:2px solid #45aaf2;
}
.chat-header-detail{
  padding-top:10px;
  color:rgb(110,110,110);
}
.chat-header-detail .date, .chat-header-detail .place{
  display:inline-block;
}
.chat-header-detail .date{
  margin-left:5px;
}
.chat-header-detail .date, .chat-header-detail .place{
  margin-right:15px;
}
.chat-header-detail .date i, .chat-header-detail .place i{
  margin-right:5px;
}
/* End of Header */

/* Footer */
#footer{
  display:block;
  position:fixed;
  bottom:0;
  width:100%;
  min-height:52px;
  line-height:1.5em;
  background-color:rgb(253,253,253);
  border-top:1px solid rgb(230,230,230);
  z-index:999;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.footer-item-wrapper{
  position:relative;
  display:block;
  padding:0px;
}

.footer-textarea-wrapper{
  position:relative;
  display:block;
  padding:15px 95px 10px 15px;
}
.footer-textarea-wrapper-readonly{
  position:relative;
  display:none;
  padding:15px 15px 0px 15px;
}
.footer-textarea-readonly{
  position:relative;
  display:block;
  background-color:rgb(252,252,252);
  outline:none;
  border:0px;
  width:100%;
  line-height:1.2em;
  font-size:14px;
  resize:none;
  text-align:center;
}
#message-textarea{
  position:relative;
  width:100%;
  display:block;
  background-color:rgb(252,252,252);
  outline:none;
  border:0px;
  line-height:1.5em;
  font-size:14px;
  resize:none;
  padding-left:40px;
  height:25px;
  max-height:100px;
}

.footer-textarea-submit{
  position:absolute;
  padding:10px 15px;
  text-align:center;
  top:5px;
  right:2px;
  font-weight:600;
  outline:none;
  border:0px;
  font-size:14px;
  line-height:1.5em;
  background:none;
}

#mediaCapture{
  display:none;
}
#submitImage{
  position:absolute;
  left:6px;
  top:6px;
  z-index:99;
  width:40px;
  height:40px;
  font-size:24px;
  background-color:rgb(252,252,252);
  color:rgb(110,110,110);
  border:none;
  outline:none;
  padding-top: 4px;
  padding-left: 10px;
}

/* End of Footer */

/* Chat */
#chat-room-scroll{
  position:relative;
  display:block;
  width:100vw;
  height:100vh;
  background-color:rgb(242,242,242);
  overflow-y:auto;
  -webkit-overflow-scrolling: touch; 
}

#chat-room{
  position:relative;
  display:block;
  padding-top:300px;
  padding-bottom:100px;
  margin-top: 120px;
}
.chat-header-detail{
  padding-top:10px;
  color:rgb(110,110,110);
}
.chat-header-detail .date, .chat-header-detail .place{
  display:inline-block;
}
.chat-header-detail .date{
  margin-left:5px;
}
.chat-header-detail .date, .chat-header-detail .place{
  margin-right:15px;
}
.chat-header-detail .date i, .chat-header-detail .place i{
  margin-right:5px;
}
.chat-item{
  position:relative;
  display:block;
  margin-top:25px;
  padding-left:15px;
  padding-right:15px;
}
.chat-item-message{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.chat-item-message.visible{
  opacity: 1;
}
.chat-item .avatar{
  position:absolute;
  width:40px;
  height:40px;
  border-radius:40px;
  top:0px;
  left:15px;
  background-size:cover;
  background-position:center;
  border: 1.6px solid lightgrey;
}
.chat-item .message{
  position:relative;
  display:block;
  padding-left:48px;
}
.chat-item .message .message-info{
  position:relative;
  display:block;
  font-size:12px;
  color:rgb(180,180,180);
  line-height:1.5em;
  margin-bottom:4px;
}
.chat-item .message .message-info .username{
  color:rgb(38,38,38);
  font-weight:600;
  margin-right:5px;
}
.chat-item .message .message-cloud{
  position:relative;
  display:block;
  margin-bottom:5px;
}
.chat-item .message .message-cloud p{
  position:relative;
  display:inline-block;
  background-color:white;
  border:1px solid rgb(235,235,235);
  padding:10px 15px;
  border-radius:10px;
  font-size:13px;
  line-height:1.5em;
}
.chat-item .message .message-cloud .message-image{
  position:relative;
  display:block;
  padding-right:30px;
}
.chat-item .message .message-cloud .message-image img{
  position:relative;
  display:block;
  width:100%;
  border-radius:10px;
}
.chat-notification{
  position:relative;
  display:block;
  text-align:center;
  color:rgb(180,180,180);
  font-size:12px;
  line-height:1.5em;
  padding:5px 0px;
}

.chat-item.chat-item-my .avatar{
  left:unset;
  right:15px;
}
.chat-item.chat-item-my .message{
  padding-left:0px;
  padding-right:48px;
  text-align:right;
}
.chat-item.chat-item-my .message .message-cloud .message-image{
  padding-right:0px;
  padding-left:30px;
}

.chat-item.chat-item-my .message .message-info .username{
  margin-right:0px;
  margin-left:6px;
  float:right;
}
.chat-item.chat-item-my .message .message-cloud p{
  background-color:#1e90ff;
  color:white;
  border:1px solid #1e90ff;
}

#chat-room-alert{
  position:fixed;
  display:block;
  top:84px;
  z-index:99;
  background-color:rgba(250,250,250,0.7);
  width:100%;
  padding:20px 15px;
  font-size:13px;
}
.chat-room-alert-message{
  position:relative;
  display:block;
}
.chat-room-alert-button{
  position:absolute;
  padding:10px 20px;
  right:15px;
  top:10px;
  background-color: #45aaf2;
  color:#fff;
  font-size:12px;
  border-radius:5px;
  text-align:center;
}

#chat-room-overlap{
  position:fixed;
  top:0;
  left:100%;
  width:85%;
  height:100vh;
  z-index:9997;
  background-color:white;
  border-left:1px solid rgb(170,170,170);
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  display:none;
}
#chat-room-overlap-scroll{
  position: relative;
  height: 93%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#chat-room-overlap-background{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:9995;
  background-color:rgb(38,38,38);
  opacity:0.3;
  display:none;
}
.chat-room-overlap-section{
  position:relative;
  display:block;
}
.chat-room-overlap-section-sticker{
  height:180px;
  background-position:center;
  background-size:cover;
  padding-top: env(safe-area-inset-top);
  padding-top: constant(sare-area-inset-top);
}
.chat-room-overlap-section-title{
  margin-top:15px;
  margin-bottom:15px;
}
.chat-room-overlap-section-title .title{
  position:relative;
  display:block;
  z-index:999;
  font-size:14px;
  padding:0px 15px 2px;
  font-weight:600;
}
.chat-room-overlap-section-title .subtitle{
  position:relative;
  display:block;
  z-index:999;
  padding:5px 15px;
  font-size:13px;
  color:rgb(110,110,110);
}
.chat-room-overlap-section-title .subtitle .date{
  position:relative;
  display:inline-block;
}
.chat-room-overlap-section-title .subtitle .date i{
  margin-right:3px;
}
.chat-room-overlap-section-title .subtitle .place{
  position:relative;
  display:inline-block;
  margin-left:8px;
}
.chat-room-overlap-section-title .subtitle .place i{
  margin-right:1px;
}
.chat-room-overlap-section-description{
  margin-top:10px;
  padding:15px;
  line-height:1.5em;
  font-size:13px;
  border-top:1px solid rgb(230,230,230);
  background-color:rgb(245,245,245);
}
.chat-room-overlap-section-participants{
  padding:0px;
  line-height:1.3em;
  font-size:14px;
  border-top:1px solid rgb(230,230,230);
  background-color:rgb(245,245,245);
  padding-bottom:60px;
}
.chat-room-overlap-section-participants .title{
  font-weight:600;
  padding:15px;
  font-size:14px;
  background-color:white;
  border-bottom:1px solid rgb(230,230,230);
}
.chat-room-overlap-section-participants .participants-item{
  position:relative;
  height:40px;
  padding-left:15px;
  padding-top:10px;
  padding-bottom:2px;
}

.chat-room-overlap-section-participants .participants-item .avatar{
  position:absolute;
  top:10px;
  left:12px;
  border-radius:50%;
  width:40px;
  height:40px;
  background-position:center;
  background-size:cover;
}
.chat-room-overlap-section-participants .participants-item .username{
  position:relative;
  display:block;
  padding-left:50px;
  padding-top:12px;
  font-size:13px;
  font-weight:600;
}
.chat-room-overlap-section-like{
  padding:0px;
  line-height:1.3em;
  font-size:14px;
  border-top:1px solid rgb(230,230,230);
  background-color:rgb(245,245,245);
  padding-bottom:10px;
}
.chat-room-overlap-section-like .title{
  font-weight:600;
  padding:15px;
  font-size:14px;
  background-color:white;
  border-bottom:1px solid rgb(230,230,230);
}
.chat-room-overlap-section-like .like-item{
  position:relative;
  height:40px;
  padding-left:15px;
  padding-top:10px;
  padding-bottom:2px;
}

.chat-room-overlap-section-like .like-item .avatar{
  position:absolute;
  top:10px;
  left:12px;
  border-radius:50%;
  width:40px;
  height:40px;
  background-position:center;
  background-size:cover;
}
.chat-room-overlap-section-like .like-item .username{
  position:relative;
  display:block;
  padding-left:50px;
  padding-top:12px;
  font-size:13px;
  font-weight:600;
}
#chat-room-button-wrapper {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(230,230,230);
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(sare-area-inset-bottom);
    background-color: rgb(240, 240, 240);
}
#chat-room-button-like {
    display: inline-block;
    position: relative;
    width: 65%;
    background-color: rgb(240,240,240);
    color: rgb(110,110,110);
    text-align: center;
    padding: 16.5px 0px;
    font-weight: 600;
    float: left;
    border-right: 1px solid rgb(230,230,230);  
    border-bottom: 1px solid rgb(230,230,230);  
}
#chat-room-button-cancel {
    display: inline-block;
    position: relative;
    width: 34%;
    background-color: rgb(240,240,240);
    color: rgb(110,110,110);
    text-align: center;
    padding: 16.5px 0px;
    font-weight: 600;
    border-bottom: 1px solid rgb(230,230,230);
}
#chat-room-image{
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
  width:100vw;
  height:100vh;
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
  background-color:black;
  background-size:100%;
  background-position:center;
  background-repeat:no-repeat;
  display:none;
}

#chat-room-image .chat-room-image-close{
  position:relative;
  display:inline-block;
  margin-left:5px;
  margin-top:5px;
  padding:10px 15px;
  color:white;
  font-size:24px;
  background-color:rgba(1,1,1,0.3);
}

#chat-room-loading{
  position:fixed;
  width:100%;
  height:100%;
  z-index:9999;
  background-color:white;
  opacity:0.5;
}
/* End of Chat */

