a{
  color:inherit;
}

html {
  width: 100%;
}
body{
  width:100%;
  font-size:14px;
  font-family:  'Nanum Square';
  color:rgb(38,38,38);
}
input,textarea{
  font-family: 'san-serif';
  -webkit-appearance: none;
  border-radius: 0;
  outline:none;
}
.displayNone{
  display:none !important;
}
#template-view{
  position:relative;
  display:block;
  overflow-y:scroll;
  overflow-x:hidden;
  height:100vh;
  width:100vw;
}
/* spinner */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

.loading-spinner {
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-20px;
    margin-top:-20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #45aaf2;
    border-top-color: white;
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
}

#popup-message{
  position:fixed;
  top:50%;
  margin-top:-50px;
  z-index:9999;
  text-align:center;
  width:80%;
  left:10%;
  padding:15px 30px;
  border-radius:10px;
  opacity:0.9;
  background-color:rgb(1,1,1);
}
#popup-message span{
  line-height:1.4em;
  color:white;
}
#popup-message .button-wrapper{
  position:relative;
  display:block;
  margin-top:20px;
}
#popup-message .button-wrapper .button{
  display:inline-block;
  width:40%;
  color:rgb(230,230,230);
  border:2px solid rgb(100,100,100);
  padding:10px;
  border-radius:5px;
  font-weight:400;
  font-size:13px;
}
#popup-message .button-wrapper .button:last-child{
  margin-left:10%;
}

/* Toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.switch input {display:none;}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #45aaf2;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #45aaf2;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.slider{
  border-radius:50px;
}
.slider:before{
  border-radius:50%;
}


/* The container */
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    line-height:1.7em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display:none;
}

.radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:1px solid rgb(210,210,210);
    border-radius: 50%;
}

.radio-container input:checked ~ .checkmark {
    background-color: #fff;
    border:1px solid #45aaf2;
}

.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #45aaf2;
}


/* End of toggle button */

.button {
    position: relative;
    border: none;
    -webkit-transition-duration: opacity 0.4s; /* Safari */
    transition-duration: opacity 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button:after {
    content: "";
    background-color: rgba(253,253,253,0.3);
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity: 0;
    z-index:99;
    transition: all 0.5s
}
.button:active:after {
    opacity: 1;
    transition: 0s
}

#template-view-loading{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  z-index:8;
  opacity:1;
  display:block;
}

#template-online-view{
  position:fixed;
  z-index:9998;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
}

#template-online-view .template-online-view-inner{
  position:relative;
  z-index:9999;
  bottom:-100%;
  left:0;
  width:100vw;
  height:100vh;
  min-height:50px;
  background-color:rgb(255,255,255);
}
#template-online-view .template-online-view-inner .header{
  position:absolute;
}




/* Pullup */

#pullup{
  position:fixed;
  z-index:9998;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
}
#pullup .background{
  position:absolute;
  z-index:9998;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:black;
  opacity:0.3;
}
#pullup .pullup-inner{
  position:relative;
  z-index:9999;
  bottom:-100%;
  left:0;
  width:100%;
  min-height:50px;
  background-color:rgb(255,255,255);
}
#pullup .pullup-inner .pullup-title{
  padding:10px;
  font-weight:600;
}

/* End of Pullup */

/* Misc Page */
.misc-page-contents{
  position:relative;
  display:block;
  margin-top:44px;
  padding:20px;
}
.misc-page-404{
  margin-top:24vh;
  text-align:center;
  padding:5px;
}
.misc-page-404 .title{
  position:relative;
  font-size:16px;
  font-weight:600;
  line-height:1.5em;
}
.misc-page-404 .subtitle{
  position:relative;
  margin-top:10px;
  line-height:1.5em;
  color:rgb(110,110,110);
}
.misc-page-404 .button-refresh{
  margin-top:20px;
  padding:15px;
  background-color:rgb(140,140,140);
  color:white;
  font-weight:600;
  border-radius:5px;
}
/* End of Misc Page */


/* Header */
#header{
  display:block;
  position:fixed;
  top:0;
  height:48px;
  line-height:1.5em;
  width:100%;
  background-color:rgb(253,253,253);
  border-bottom:1px solid rgb(230,230,230);
  padding:0px 5px;
  z-index:999;
}

#header .header-left i{
  font-size:24px;
  float:left;
  padding-top:14px;
  padding-bottom:8px;
}
#header .header-right i{
  font-size:20px;
  float:right;
}

#header .header-item-noti{
  position:absolute;
  right:-8px;
  top:-4px;
  background-color:#45aaf2;
  color:white;
  border-radius:50%;
  padding:1px 3px;
  line-height:1em;
  font-size:10px;
}

#header .header-right{
  padding-top:15px;
  padding-bottom:11px;
  text-align:center;
  font-weight:600;
  font-size:14px;
  letter-spacing:0.5px;
}
#header .header-right-index{
  padding-left:0px;
  padding-right:10px;
}
#header .header-right-index-item{
  position:relative;
  float:right;
  margin-top:-1px;
  margin-left:14px;  
}
#header .logo img{
  height:17px;
  margin-top:16px;
}

#header .header-center{
  padding-top:16px;
  text-align:center;
  font-weight:600;
  font-size:15px;
  letter-spacing:1.5px;
}

#header.with-subheader{
  border-bottom:0px;
}
#subheader{
  position:fixed;
  display:block;
  position:fixed;
  top:44px;
  height:40px;
  width:100%;
  line-height:1em;
  background-color:rgb(253,253,253);
  text-align:center;
  font-size:13px;
  border-bottom:1px solid rgb(230,230,230);
  padding:0px 5px;
  z-index:999;
}
#subheader .subheader-tab{
  padding-top:14px;
  padding-bottom:12px;
  color:rgb(140,140,140);
}
#subheader .subheader-tab.selected{
  color:#45aaf2;
  font-weight:600;
  border-bottom:2px solid #45aaf2;
}
/* End of Header */

/* Footer */
#footer{
  display:block;
  position:fixed;
  bottom:0;
  height:52px;
  line-height:1.5em;
  width:100%;
  background-color:rgb(253,253,253);
  border-top:1px solid rgb(230,230,230);
  z-index:999;
}
.footer-item-wrapper{
  position:relative;
  display:block;
  padding:0px;
}
.footer-item{
  position:relative;
  float:left;
  width:20%;
  font-size:20px;
  padding-top:9px;
  text-align:center;
  color:rgb(200,200,200);
}
.footer-item .footer-item-noti{
  position:absolute;
  width:6px;
  height:6px;
  border-radius:6px;
  background-color:#45aaf2;
  top:6px;
  left:65%;
}
.footer-item.selected{
  color:rgb(38,38,38);
}

.footer-item .title{
  display:block;
  font-size:10px;
  line-height:15px;
  font-weight:600;
}

#footer-input{
  display:block;
  position:fixed;
  bottom:0;
  min-height:48px;
  line-height:1.5em;
  width:100%;
  background-color:rgb(253,253,253);
  border-top:1px solid rgb(230,230,230);
  z-index:999;
}

.footer-textarea-wrapper{
  position:relative;
  display:block;
}
#footer-textarea{
  position:relative;
  display:block;
  background-color:rgb(252,252,252);
  outline:none;
  border:0px;
  width:100%;
  padding:15px 55px 0px 20px;
  line-height:1.2em;
  font-size:14px;
  resize:none;
}
#footer-textarea.footer-textarea-readonly{
  text-align:center;
  padding-right:20px;
}
.footer-textarea-submit{
  position:absolute;
  padding:10px 15px;
  text-align:center;
  top:3px;
  right:0px;
  font-weight:600;
}
.footer-gathering-chat{
  position:relative;
  display:block;
  width:100%;
  text-align:center;
  padding-top:15px;
  font-weight:600;
  font-size:14px;
}
.footer-gathering-chat i{
  margin-left:4px;
}

/* End of Footer */



/* Login */

.login-contents{
  position:relative;
  display:block;
  width:100vw;
  height:100vh;
}
.login-contents .cover{
  width:80vw;
  margin-left:10vw;
  margin-top:50px;
  height:200px;
  background-size:cover;
  background-position:center;
}
.login-contents .login-message{
  padding:10px 30px;
  margin-bottom:5px;
  margin-top:10px;
}
.login-contents .login-message .title{
  font-size:20px;
  line-height:1.3em;
  font-weight:600;
  margin-top:20px;
  text-align:center;
}
.login-contents .login-input{
  position:relative;
  display:block;
  padding:5px 40px;
}
.login-contents .login-input input{
  position:relative;
  width:100%;
  padding:10px 10px;
  margin-top:10px;
  line-height:1.5em;
  font-size:13px;
  outline:none;
  border:none;
  opacity:0.9;
  border-bottom:1px solid rgb(210,210,210);
}
.login-contents .login-input .button{
  opacity:1;
  background-color:rgb(210,210,210);
  color:rgb(110,110,110);
  font-weight:600;
  font-size:12px;
  padding:12px 0px;
  border:none;
  border-radius:5px;
}

.login-button-wrapper{
  position:absolute;
  display:block;
  text-align:center;
  padding:0px 40px;
  bottom:40px;
  z-index:99;
}
.login-button-wrapper .login-button{
  position:relative;
  display:block;
  width:100%;
  padding:16px;
  text-align:center;
  background-color:#45aaf2;;
  color:white;
  font-weight:600;
  font-size:12px;
  border-radius:5px;
}

/* End of Login */

/* Update */

#update-alert{
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color:white;
  display:none;
}
#update-alert .title{
  position:relative;
  display:block;
  text-align:center;
  margin-top:30vh;
  font-size:18px; 
  font-weight:600;
  color:rgb(90,90,90);
}
.update-alert-button-wrapper{
  position:relative;
  margin-top:20vh;
  text-align:center;
  padding:0px 30px;
}
.update-alert-button-wrapper .button{
  padding:15px;
  margin-top:10px;
  background-color:#45aaf2;
  position:relative;
  display:block;
  color:white;
  border-radius:5px;
  font-size:12px;
}

/* End of Update */